<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend><h5>接口发展时间线</h5></legend>
</fieldset>
<ul class="layui-timeline">
    {% for log in methodDoc.changeLog %}
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">{{log.event}}</h3>
            <p>{{log.time}} &nbsp;&nbsp;||&nbsp;&nbsp; {{log.author}}</p>
        </div>
    </li>
    {% endfor %}
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">创建接口</h3>
            <p>{{methodDoc.since}} &nbsp;&nbsp;||&nbsp;&nbsp; {{methodDoc.author}}</p>
        </div>
    </li>
</ul>