<ul class="layui-timeline" style="padding: 20px;">
    {% for log in methodDoc.changeLog %}
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">{{log.event}}</h3>
            <p>{{log.time}} &nbsp;&nbsp;||&nbsp;&nbsp; {{log.author}}</p>
        </div>
    </li>
    {% endfor %}
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">创建接口</h3>
            <p>{{methodDoc.since}} &nbsp;&nbsp;||&nbsp;&nbsp; {{methodDoc.author}}</p>
        </div>
    </li>
</ul>