<button style="bottom: 100px;" type="button" class="layui-btn layui-btn-danger layui-btn-radius layui-fixbar"
    onclick="openRequestFrame();">请求测试</button>
<div class="layui-footer" style="align-content: center; left: {{ config.leftPadding }};">
    <a href="https://github.com/sunanzhi/annotatedDoc" target="_blank" rel="nofollow">© MorsTiin Doc MIT License
        &nbsp;&nbsp;||&nbsp;&nbsp; GitHub</a>
    <a style="float: right;" href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">{{config.miitbeian}}</a>
</div>