{% if methodDoc.resParams %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend><h5>返回字段说明</h5></legend>
</fieldset>
<div class="layui-form">
    <table class="layui-table">
        <thead>
            <tr>
                <th>参数名</th>
                <th>类型</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            {% for param in methodDoc.resParams %}
            <tr>
                <td>{{param['name']}}</td>
                <td>{{param['type']}}</td>
                <td>{{param['desc']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if methodDoc.returnExample %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend><h5>返回示例</h5></legend>
</fieldset>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        {% for key, example in methodDoc.returnExample %}
        <li {% if key == 0 %}class="layui-this" {% endif %}>{% if key == 0 %}默认{% else %}示例 -
            {{key}}{% endif %}</li>
        {% endfor %}
    </ul>
    <div class="layui-tab-content">
        {% for key, example in methodDoc.returnExample %}
        <div class="layui-tab-item {% if key == 0 %}layui-show{% endif %}">
            <input type="hidden" name="returnExample" value="{{example}}">
            <pre id="returnExampleValue{{key}}"></pre>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}