<div class="layui-side layui-bg-black" style="width: {{ config.leftPadding }};">
    <div class="layui-side-scroll" style="width: {{ config.leftPadding }};">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test" style="width: {{ config.leftPadding }};">
            {% for class in classList %}
            <li class="layui-nav-item {% if class.className == config.defaultClass %} layui-nav-itemed {% endif %}"
                style="width: {{ config.leftPadding }};">
                <a class="" href="javascript:;" onclick="showClassDesc('{{class.classDoc}}', this);" 
                    style="{% if class.className == config.defaultClass %} background-color: purple; {% endif %}">
                    {{class.className}}
                </a>
                <dl class="layui-nav-child">
                    {% for doc in class.docList %}
                    {% if class.module == config.defaultModule and class.className == config.defaultClass and doc.method == config.defaultMethod %}
                    <dd class='layui-this'><a
                            href='/doc/index.php?module={{class.module}}&class={{class.className}}&method={{doc.method}}'>{{doc.method}}</a>
                    </dd>
                    {% else %}
                    <dd><a
                            href='/doc/index.php?module={{class.module}}&class={{class.className}}&method={{doc.method}}'>{{doc.method}}</a>
                    </dd>
                    {% endif %}
                    {% endfor %}
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>