<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{config.title}}</title>
    <link rel="shortcut icon" href="//static.sunanzhi.com/favicon.ico">
    <link rel="stylesheet" href="{{config.staticUrl.layuiCSSPath}}">
    <script src="{{config.staticUrl.jqueryPath}}"></script>
    <script src="{{config.staticUrl.layuiJsPath}}"></script>
</head>
<style>
    pre {
        padding: 15px;
        margin: 5px;
        font-size: 15px;
        line-height: 23px;
    }

    .string {
        color: red;
    }

    .number {
        color: green;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: purple;
    }

    .key {
        color: black;
    }
</style>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 头部信息 -->
        {% include 'unit/header.html' %}
        <!-- 头部信息 -->
        <!-- 右侧导航栏 -->
        {% include 'unit/side.html' %}
        <!-- 右侧导航栏 -->
        <div class="layui-body" style="left: {{ config.leftPadding }};">
            <!-- 内容主体区域 -->
            {% include 'unit/body.html' %}
        </div>
        <!-- 底部信息 -->
        {% include 'unit/footer.html' %}
        <!-- 底部信息 -->
    </div>
    <input type="hidden" value="{{methodDoc['example']['requestExample']}}" id="requestExampleVal">
    <input type="hidden" value="{{methodDoc['example']['returnExample']}}" id="returnExampleVal">
    <script>
        // https://www.layui.com/demo/layuiAdmin.html 后台模版示例文档
        //JavaScript代码区域
        // 自动添加全局header
        var checkLocalStorageHK = localStorage.getItem('globalHeaderKey')
        var checkLocalStorageHV = localStorage.getItem('globalHeaderValue')
        if (checkLocalStorageHK && checkLocalStorageHV) {
            var localHeaderKeys = JSON.parse(checkLocalStorageHK);
            var localHeaderValues = JSON.parse(checkLocalStorageHV);
            if(localHeaderKeys) {
                localHeaderKeys.forEach(function(value, key) {
                    
                    addHeaderSection($("#requestForm"), value, localHeaderValues[key])
                    addHeaderSection($("#settingHeaderForm"), value, localHeaderValues[key])
                });
            }
        }

        function addHeaderSection(obj, key, value) {
            obj.find("#headerSeparator").before(
                '<div class="layui-form-item">' +
                '<div class="layui-inline">' +
                '<label class="layui-form-label">key</label>' +
                '<div class="layui-input-inline">' +
                '<input type="text" placeholder="Authorization" name="headerKey[]" autocomplete="off" class="layui-input" value="' + key + '">' +
                '</div>' +
                '</div>' +
                '<div class="layui-inline">' +
                '<label class="layui-form-label">value</label>' +
                '<div class="layui-input-inline">' +
                '<input type="text" placeholder="This is token value" name="headerValue[]" autocomplete="off" class="layui-input" value="' + value + '">' +
                '</div>' +
                '</div>' +
                '</div>'
            );
        }

        layui.use('element', function () {
            var element = layui.element;
        });
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            // 新增header内容
            form.on('submit(addHeaderSection)', function (data) {
                addHeaderSection($(data.form), '', '')
                return false;
            });
            // 全局头设置
            form.on('submit(settingHeaderBtn)', function(data) {
                var fields = $(data.form).serializeArray();
                var length = fields.length;
                var headerKey = new Array();
                var headerValue = new Array();
                for (i = 0; i < length; i++) {
                    if(fields[i]['name'].indexOf("headerKey") != -1) {
                        if(fields[i]['value'] != ''){
                            headerKey.push(fields[i]['value']);
                        }
                    } else if (fields[i]['name'].indexOf("headerValue") != -1) {
                        if(fields[i]['value'] != ''){
                            headerValue.push(fields[i]['value']);
                        }
                    }
                }
                localStorage.setItem('globalHeaderKey', JSON.stringify(headerKey));
                localStorage.setItem('globalHeaderValue', JSON.stringify(headerValue));
                layer.msg('设置成功');
                setTimeout(function() {
                    location.reload();
                }, 2000)

                return false;
            });
            // 表单提交
            form.on('submit(confirm)', function (data) {
                $("#submitBtn").attr('disabled', true);
                var loadingLayer = layer.load(3, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                var fields = $(data.form).serializeArray();
                var length = fields.length;
                var requestUrl;
                var requestBody;
                var method;
                var headerKey = new Array();
                var headerValue = new Array();
                for (i = 0; i < length; i++) {
                    if(fields[i]['name'] == 'requestUrl') {
                        requestUrl = fields[i]['value'];
                    } else if(fields[i]['name'] == 'method') {
                        method = fields[i]['value'];
                    } else if(fields[i]['name'] == 'requestBody') {
                        requestBody = fields[i]['value'];
                    } else if(fields[i]['name'].indexOf('headerKey') != -1 && fields[i]['value'] != '') {
                        headerKey.push(fields[i]['value']);
                    } else if(fields[i]['name'].indexOf('headerValue') != -1 && fields[i]['value'] != '') {
                        headerValue.push(fields[i]['value']);
                    }
                }
                var header = {};
                for (i = 0; i < headerKey.length; i++) {
                    if (headerKey[i] == '' || headerKey[i] == null) {
                        continue;
                    }
                    header[headerKey[i]] = headerValue[i];
                }
                var headerJson = JSON.stringify(header);
                try {
                    $.ajax({
                        headers: (headerJson == '' || headerJson == null) ? {} : JSON.parse(headerJson),
                        type: method,
                        url: requestUrl,
                        data: (requestBody == '' || requestBody == null) ? {} : JSON.parse(requestBody),
                        dataType: "json",
                        success: function (res) {
                            console.log(res)
                            if(res) {
                                layer.open({
                                    type: 1,
                                    title: '返回数据',
                                    skin: 'layui-layer-demo', //样式类名
                                    closeBtn: 0, //不显示关闭按钮
                                    anim: 2,
                                    area: ['60%', '90%'],
                                    shadeClose: true, //开启遮罩关闭
                                    content: '<pre>' + syntaxHighlight(JSON.stringify(res)) + '</pre>'
                                });
                            } else {
                                layer.msg("空内容")
                            }
                        },
                        error: function(res) {
                            layer.alert(res.responseText, {
                                title: '提示',
                                skin: 'layui-layer-molv' //样式类名
                                ,closeBtn: 0
                            })
                        },
                        complete: function() {
                            layer.close(loadingLayer);
                        }
                    });
                } catch (error) {
                    console.log("error:", error)
                    layer.close(loadingLayer);
                    layer.open({
                        type: 1,
                        title: '请求错误',
                        skin: 'layui-layer-demo', //样式类名
                        closeBtn: 0, //不显示关闭按钮
                        anim: 2,
                        shadeClose: true, //开启遮罩关闭
                        content: JSON.stringify(error)
                    });
                }
                $("#submitBtn").removeAttr('disabled');

                return false;
            });

            form.render();
        });

        function updateRadio() {
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        }
        // 请求返回示例内容转换
        $("input[name='requestExample']").each((key, elem) => {
            $("#requestExampleValue" + key).html(syntaxHighlight($(elem).val()));
        });
        $("input[name='returnExample']").each((key, elem) => {
            $("#returnExampleValue" + key).html(syntaxHighlight($(elem).val()));
        });
        function syntaxHighlight(json) {
            if (json == '') {
                return;
            }
            json = JSON.parse(json);
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        // 去掉转义字符
                        match = match.replace(/[\\\b\f\n\r\t]/g, '');
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        // 类简介展示
        function showClassDesc(content, e) {
            layui.use('layer', function () {
                layer.tips(content, e);
            });
        }

        function openRequestFrame() {
            layui.use('layer', function () {
                layer.open({
                    type: 1,
                    title: "请求测试",
                    skin: 'layui-layer-rim', //加上边框
                    area: ['70%', '80%'], //宽高
                    content: $("#formContent").html()
                });
            });
        }

        function docSpecification(url) {
            if(url == '') {
                layer.msg('没有配置规范链接')
            }
            layer.open({
                type: 2,
                title: "规范说明",
                skin: 'layui-layer-rim', //加上边框
                area: ['70%', '80%'], //宽高
                content: url
            })
        }

        function openGlobalRequest() {
            layer.open({
                type: 1,
                title: "全局请求头",
                skin: 'layui-layer-rim', //加上边框
                area: ['60%', '70%'], //宽高
                content: $("#headerFormContent").html()
            });
        }
    </script>
</body>

</html>
